@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Outfit:wght@100;400;700&family=Patrick+Hand&family=Poppins:wght@500&family=Readex+Pro:wght@200;300;400;500;700&family=Tinos&display=swap');

/* ----- main components ===== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: rgb(255, 255, 255)
}


/* ----- Background image rendering based on time of day ----- */

.morning::before {
  background: url('./assets/morning.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
}

.afternoon::before {
  background: url('./assets/afternoon.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
}

.evening::before {
  background: url('./assets/evening.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
}


.container {
  position: relative;
  max-width: 700px;
  height: 400px;
  margin: auto;
  padding: 0 1rem;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .top {
  width: 100%;
  margin: 0.2rem auto;
}

.home .search {
  text-align: center;
  padding: 1rem;
}

 /* ---- Search box ---- */

.home input {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background-color: rgb(255, 255, 255, 0.1);
  flex-direction: row;
  all: unset;
}



::placeholder {
  color: rgb(255, 255, 255, 0.5);
}


button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}


/* ----- */


.home .description {
  position: relative;
}

.home .greeting {
  display: flex;
  justify-content: center;
}


.home .bottom {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 3rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgb(255, 255, 255, 0.15)
}

.bold {
  font-weight: 700;
}

.conversion {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
